@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text-color: #ffffff;
  --secondary-color: #23225e;
  --accent-color: #cccbff;
  --test-color: rgba-(124, 123, 177, 0.1);
  --primary-color: #030037;
  --heading-color: #8cadb8;
  --info-color: #cdcdd7;
  --button-color: #9190dc;
  --button-color-2: #23225e;
  --button-color-3: #6168DC;
  --font-1: "Outfit", sans-serif;
  --font-2: "Roboto", sans-serif;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes colorChange1 {
  0% {
    background-color: #654985; /* Red */
  }
  25% {
    background-color: #726383; /* Green */
  }
  50% {
    background-color: #2f243b; /* Blue */
  }
  75% {
    background-color: #ba96dd; /* Yellow */
  }
  100% {
    background-color: #654985; /* Red again */
  }
}

@keyframes colorChange2 {
  0% {
    background-color: #49478a; /* Red */
  }
  25% {
    background-color: #7470d6; /* Green */
  }
  50% {
    background-color: #242172; /* Blue */
  }
  75% {
    background-color: #d7d6ff; /* Yellow */
  }
  100% {
    background-color: #49478a; /* Red again */
  }
}

@keyframes colorChange3 {
  0% {
    background-color: #8dadb8; /* Red */
  }
  25% {
    background-color: #6dcae9; /* Green */
  }
  50% {
    background-color: #881dec; /* Blue */
  }
  75% {
    background-color: #0095c7; /* Yellow */
  }
  100% {
    background-color: #8dadb8; /* Red again */
  }
}

@keyframes colorChange4 {
  0% {
    background-color: #881dec; /* Red */
  }
  25% {
    background-color: #5e08af; /* Green */
  }
  50% {
    background-color: #40007c; /* Blue */
  }
  75% {
    background-color: #5e08af; /* Yellow */
  }
  100% {
    background-color: #881dec; /* Red again */
  }
}

.circle-one {
  animation: colorChange1 13s infinite ease-in-out;
}

.circle-two {
  animation: colorChange2 12s infinite ease-in-out;
}

.circle-three {
  animation: colorChange3 11s infinite ease-in-out;
}

.circle-four {
  animation: colorChange4 13s infinite ease-in-out;
}

.loading {
  animation: loading 1s infinite ease-in-out;
}

*, *::after, *::before {
  color: var(--text-color);
  font-family: var(--font-1);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}
